.one{
    background-color: rgb(199, 244, 35);
    color: black;
    height: 24vh;
    width: 100%;
}
.two{ 
    background-color: rgb(83, 168, 243);
    color: black;
    height: 40vh;
    width: 100%;
}
.three{
    background-color: rgb(199, 96, 239);
    color: black;
    height: 23vh;
    width: 100%;
}
.four{
    background-color: rgb(59, 188, 8);
    color: black;
    height: 18vh;
    width: 100%;
}